<!DOCTYPE html>
<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

<!--<script src="https://raw.github.com/DmitryBaranovskiy/g.raphael/master/min/g.raphael-min.js"></script>-->
  <script src="http://autiomaa.org/2012/vaalit/javascripts/vendor/daytone/chartify.js"></script>


<script src="/nowjs/now.js"></script>
<script>
window.now = nowInitialize('http://51.fi:8082'); 
  now.ready(function() {
    console.log('Now is ready');
    now.updateChart = function(data) {
      console.log('Updating...');
    }; 
    
    now.getChart(<%=question.id%>);
    
    now.draw = function() {
      $('.pie-chart').chartify('pie', {chartType: 'p3', unit: '%', isDistribution: true});
    };
  });
$(function() {
  $('#qr').attr('src','http://chart.apis.google.com/chart?chs=125x125&cht=qr&chld=L|0&chl='+escape('http://voteti.me/show/<%=question.id%>'));
  
});
</script>
<meta charset=utf-8 />

<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
  article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
</style>
</head>
<body>

<h1><%=question.question%></h1>

<ul>
<% for(var i=0;i<options.length; i++) { %>
  <li><a onclick="now.answer(<%=question.id%>, <%=options[i].id%>)"><%=options[i].value%></a></li>
<% } %>
</ul>


<img src="" id="qr" />

            <table class="pie-chart">
              <caption>Äänijakauma</caption>
              <thead>
                <tr>
                  <td></td>
                  <% for(var i=0;i<options.length; i++) { %>
                    <th><%=options[i].value%></th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Äänimäärä</th>
                  
                </tr>
              </tbody>
            </table>

</body>
</html>